<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shi.mapping.UserMapperI">

    <!--订单信息加用户信息-->
    <resultMap id="OrderUserlazyLoadingResultMap" type="com.shi.pojo.OrderResultMap">

        <id column="id" property="ID"/>
        <result column="user_id" property="userID"/>
        <result column="number" property="mNumber"/>
        <result column="note" property="mNote"/>
        <!-- 实现对用户信息的延时加载
        select：指定延迟加载需要执行的statement的ID（是根据user_id查询用户信息的statement）
        column：订单信息中关联用户信息查询的列，是user_id,关联查询的sql理解为：
            SELECT orders.*
            , (SELECT username FROM USER WHERE orders.`user_id` = user.`id`)username
            , (SELECT sex FROM USER WHERE orders.`user_id` = user.id)sex
            FROM orders
        -->
        <!--用户信息-->
        <association property="mUser" javaType="com.shi.bean.User" select="com.shi.mapping.UserMapperI.findUserById" column="user_id">

        </association>
    </resultMap>

    <select id="findUserById"  parameterType="int"  resultType="com.shi.bean.User">
        select * from user where id = #{value}
    </select>

    <select id="findOrdersUserLazyLoading" resultMap="OrderUserlazyLoadingResultMap" >
        select * from orders
    </select>

</mapper>